# Config
*.conf
*.spec
cookies
*cookies.txt
.netrc

# Downloaded
*.3gp
*.annotations.xml
*.ape
*.aria2
*.avi
*.description
*.desktop
*.dump
*.flac
*.flv
*.frag
*.frag.urls
*.info.json
*.jpeg
*.jpg
*.live_chat.json
*.m4a
*.m4v
*.mhtml
*.mkv
*.mov
*.mp3
*.mp4
*.ogg
*.opus
*.part
*.part-*
*.png
*.sbv
*.srt
*.swf
*.swp
*.ttml
*.unknown_video
*.url
*.vtt
*.wav
*.webloc
*.webm
*.webp
*.ytdl
.cache/

# Allow config/media files in testdata
!test/**

# Python
*.pyc
*.pyo
.pytest_cache
wine-py2exe/
py2exe.log
build/
dist/
zip/
tmp/
venv/
completions/

# Misc
*~
*.DS_Store
*.kate-swp
MANIFEST
test/local_parameters.json
.coverage
cover/
secrets/
updates_key.pem
*.egg-info
.tox
*.class

# Generated
AUTHORS
README.txt
.mailmap
*.1
*.bash-completion
*.fish
*.exe
*.tar.gz
*.zsh
*.spec
test/testdata/player-*.js

# Binary
/youtube-dl
/youtube-dlc
/yt-dlp
yt-dlp.zip
*.exe

# Text Editor / IDE
.idea
*.iml
.vscode
*.sublime-*

# Lazy extractors
*/extractor/lazy_extractors.py

# Plugins
ytdlp_plugins/extractor/*
!ytdlp_plugins/extractor/__init__.py
!ytdlp_plugins/extractor/sample.py
