[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mutagen = "*"
pycryptodomex = "*"
websockets = "*"
brotli = "*"
brotlicffi = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.9"
